.navbar{
    padding-bottom: .5rem;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: bold;
}

h1 {
    font-family: "ubantu montserrat-Black";
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.gplay{
    /* border: solid white; */
    border-radius: 4px;
    margin: 3% 0% 5% 0%;
}
.apple{
    /* border: solid white; */
    border-radius: 4px;
    margin: 5% 0% 3% 0%;
}

.arr{
    padding-top: 10%;
}

.arr img{
    height: auto;
    
    width: 35%;
}

.icon{

    align-items: center;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-left: 5%;
    padding-right: 5%;
}