body{
    font-family: "montserrat";
}
#titel{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding-bottom: 3.5rem;
}

.navbar-brand{
    font-family:"Ubuntu";
    font-size:2.5rem;
    font-weight: bold;

}

.navbar-nav{
    margin-left: auto;
}

.nav-item{
    padding-left:10%;
    padding-right: 10%;
}

.box-1{
    margin: 0% 20% ;
}



h1{
    font-family: "ubantu montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.gplay{
    /* border: solid white; */
    border-radius: 4px;
    margin: 3% 2% 0% 2%;
}
.apple{
    /* border: solid white; */
    border-radius: 4px;
    margin: 3% 2% 0% 0%;
}

.arr{
    align-items: center;
    text-align: center;
}

.arr img{ 

    width: 60%;
    height: auto;
    transform: rotate(20deg);
}

.container-fluid{
    padding: 3% 15%;
}

#aboutus{
    background-color: white;
}

.row{
    margin-top: 10%;
}

.icon{

    align-items: center;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

.icon span{
    color: #ef8172;
    
}

.highlight{
    font-size: 1.5rem;
    font-weight: bold;

}

.normal{
    font-weight: lighter;
    color: #8f8f8f;

}

.icon span:hover{
    color: #ff4c68;

}




